[submodule "RobotDynamics.jl"]
	path = RobotDynamics.jl
	url = https://github.com/RoboticExplorationLab/RobotDynamics.jl.git
[submodule "TrajectoryOptimization.jl"]
	path = TrajectoryOptimization.jl
	url = https://github.com/RoboticExplorationLab/TrajectoryOptimization.jl.git
[submodule "Altro.jl"]
	path = Altro.jl
	url = https://github.com/RoboticExplorationLab/Altro.jl.git
[submodule "RobotZoo.jl"]
	path = RobotZoo.jl
	url = https://github.com/RoboticExplorationLab/RobotZoo.jl.git
